<!-- <div *ngIf="article">
  <div *ngFor="let i of article">
    <h2>{{i.title | uppercase }}</h2>
    <div>
      <span>id: </span>{{i.id}}</div>
    <div>
      <label>title:
        <input [(ngModel)]="i.title" placeholder="title"/>
      </label>
    </div>
    <div>
      <label>contents:
        <textarea [(ngModel)]="i.contents" placeholder="contents"></textarea>
      </label>
    </div>
    <button (click)="goBack()">go Back</button>
    <button (click)="save(i.title, i.contents)">save</button>
  </div>
</div> -->

<form *ngIf="!(login$ | async)">
  <div *ngIf="article">
    <div class="container" *ngFor="let i of article">
      <div class="title">{{i.id}}</div>
      <section>
        <img src="../../assets/img/img.PNG" width="100%" height="100%">
      </section>
      <section>
        <div class="title">{{i.title}}</div>
        <p>{{i.contents}}</p>
        <div>{{i.createAt | date}}</div>
      </section>
      <button mat-button (click)="goBack()">go Back</button>
    </div>
  </div>
</form>

<form *ngIf="login$ | async">
  <div *ngIf="article">
    <div class="container" *ngFor="let i of article">
        <div class="title">{{i.id}}</div>
      <section>
        <img src="../../assets/img/img.PNG" width="100%" height="100%">
      </section>
      <section>
        <mat-form-field>
          <label>title:</label>
          <input matInput [(ngModel)]="i.title"  name="i.title" />
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
          <label>contents:</label>
            <textarea matInput [(ngModel)]="i.contents" name="i.contents" style="height:150px;"></textarea>
        </mat-form-field>
        <div class="mat-form-field">
          <label>create_at:</label>
          <div>{{i.createAt | date}}</div>
        </div>
      </section>
      <br>
      <button mat-button (click)="goBack()">go Back</button>&nbsp;
      <button mat-button (click)="save(i.title, i.contents)">save</button>
    </div>
  </div>
</form>
