<!-- <nav [style.background] = "(login$ | async) ? 'yellow' : 'red'">
  <a routerLink='/dashboard'>Dashboard </a>
  <a routerLink='/articles'>Articles </a>
  <a *ngIf="login$ | async" routerLink='/edit'>Edit </a>
  <a *ngIf="!(login$ | async)" routerLink='/login'>Login </a>
  <a *ngIf="login$ | async" (click)="logout()">logout </a>
</nav> -->
<mat-toolbar [style.background] = "(login$ | async) ? '#afd8e3' : '#b8e6e1'">
  <span *ngIf="login$ | async">歡迎-{{user$ | async}}</span>
  <a mat-button routerLink='/dashboard'>Dashboard </a>
  <a mat-button routerLink='/articles'>Articles </a>
  <a mat-button *ngIf="login$ | async" routerLink='/edit'>New</a>
  <a mat-button *ngIf="!(login$ | async)" routerLink='/login'>Login </a>
  <a mat-button *ngIf="login$ | async" (click)="logout()">logout </a>
</mat-toolbar>
