<!-- <h2>My Articles</h2> -->
<!-- <div>
  <label>Article title:
    <input #articleTitle />
  </label>
  <br>
  <label>Article contents:
    <input #articleContents />
  </label>
  <br>
  <button (click)="add(articleTitle.value, articleContents.value);articleTitle.value=''; articleContents.value=''">
    add
  </button>
</div> -->

<!-- <ul class="articles">
  <li *ngFor="let article of articles | paginate: { itemsPerPage: count, currentPage: p, maxSize: maxSize, totalItems: totalData }">
    <a routerLink="/detail/{{article.id}}">
      <span class="badge">{{article.id}}</span> {{article.title}}
    </a>
    <button class="delete" title="delete article"(click)="delete(article)">
      x
    </button>
  </li>
</ul>

<pagination-controls (pageChange)="p=$event"></pagination-controls> -->

<mat-list class="articles" *ngFor="let article of articles | paginate: { itemsPerPage: count, currentPage: p, maxSize: maxSize, totalItems: totalData }">
  <mat-list-item>
    <a routerLink="/detail/{{article.id}}">
      <span class="badge">{{article.id}}</span> {{article.title}}
    </a>
    <a mat-button class="delete" title="delete article"(click)="delete(article)">
      x
    </a>
  </mat-list-item>
</mat-list>

<pagination-controls (pageChange)="p=$event"></pagination-controls>
