/* DashboardComponent's private CSS styles
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #afd8e3;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
 */
 /* .module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #afd8e3;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
} */
h3 {
  text-align: center;
  margin-bottom: 0;
  color: white;
}

.mat-card {
  width: 95%;
  height: 95%;
  background-color: #a2c2de;
  margin: 1em;
  text-align: center;
}
.set-left {
  text-align: left;
}
.list {
  border: dashed;
  border-color: #d9d9d9;
}
.div-width {
  width: 80%;
  height: 80%;
  overflow: auto;
  background-color: white;
}
.deep-blue {
  background-color: #00146e;
}
::ng-deep .carousel-1 .carousel-control-prev {
  display:none;
}
::ng-deep .carousel-1 .carousel-control-next {
  display:none;
}
::ng-deep .carousel-2 .carousel-indicators {
  display:none;
}
::ng-deep .carousel-2 .carousel-control-prev {
  width: 5%;
}
::ng-deep .carousel-2 .carousel-control-prev-icon {
  background-color: #00146e;
  width: 50px;
  height: 50px;
  background-size: 41%;
  border-radius: 50%;
}
::ng-deep .carousel-2 .carousel-control-next {
  width: 5%;
}
::ng-deep .carousel-2 .carousel-control-next-icon {
  background-color: #00146e;
  width: 50px;
  height: 50px;
  background-size: 41%;
  border-radius: 50%;
}
