h3 {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.mat-card {
  width: auto;
  height: auto;
  background-color: #a2c2de;
  margin: 1em;
  text-align: center;
}
/* .set-img {
  max-height:  50%;
} */
.set-left {
  text-align: left;
}
.set-overflow {
  overflow: auto;
}
.list {
  border: dashed;
  border-color: #d9d9d9;
}
.div-width {
  width: 95%;
  height: 95%;
  background-color: white;
}
.deep-blue {
  background-color: #00146e;
}
::ng-deep .carousel-1 .carousel-control-prev {
  display:none;
}
::ng-deep .carousel-1 .carousel-control-next {
  display:none;
}
::ng-deep .carousel-2 .carousel-indicators {
  display:none;
}
::ng-deep .carousel-2 .carousel-control-prev {
  width: 5%;
}
::ng-deep .carousel-2 .carousel-control-prev-icon {
  background-color: #00146e;
  width: 50px;
  height: 50px;
  background-size: 41%;
  border-radius: 50%;
}
::ng-deep .carousel-2 .carousel-control-next {
  width: 5%;
}
::ng-deep .carousel-2 .carousel-control-next-icon {
  background-color: #00146e;
  width: 50px;
  height: 50px;
  background-size: 41%;
  border-radius: 50%;
}
