<!-- <h3>Top Articles</h3>
<div class="grid grid-pad">
  <a *ngFor="let article of articles" class="col-1-4" routerLink="/detail/{{article.id}}">
    <div class="module article">
      <h4>{{article.title}}</h4>
    </div>
  </a>
</div> -->

<mat-grid-list cols="12" class="deep-blue">
  <mat-grid-tile colspan="12" rowspan="1">
    <mat-card class="deep-blue">
      <h3>Top Articles</h3>
      <h3>{{peopleCount}}人</h3>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="12" class="deep-blue">
  <mat-grid-tile colspan="6" rowspan="3">

      <carousel class="carousel-1 div-width">
        <slide *ngFor="let article of articles.slice(0, 5)">
          <mat-card class="mat-card" routerLink="/detail/{{article.id}}">
            <mat-card-content class="mat-card-content">
              <img class="set-img" src="{{article.imgUrl}}">
              <div class="carousel-caption">{{article.title}}</div>
            </mat-card-content>
          </mat-card>
        </slide>
      </carousel>


  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="3">
    <div class="div-width set-overflow">
      <mat-list class="list" *ngFor="let article of sortArticles.slice(randomNum, randomNum+4)">
        <mat-list-item>
          <a routerLink="/detail/{{article.id}}">
            <span class="badge">{{article.title}}</span>
            <br>
            <span>{{article.createAt | date}}</span>
          </a>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="12">
  <mat-grid-tile colspan="12" rowspan="2">
      <mat-card *ngFor="let article of articles.slice(randomNum, randomNum+4)" class="mat-card"
        routerLink="/detail/{{article.id}}">
        <mat-card-header>
          {{article.title}}
          <img mat-card-avatar src="{{article.imgUrl}}">
        </mat-card-header>
        <mat-card-content class="set-left">{{article.contents.slice(0,80)+ '...'}}</mat-card-content>
        <mat-card-footer class="set-left">{{article.createAt | date}}</mat-card-footer>
      </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="12" rowspan="3">
      <carousel class="carousel-2" [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset">
        <slide *ngFor="let article of articles">
          <mat-card class="mat-card" routerLink="/detail/{{article.id}}">
            <mat-card-content>
              <img class="set-img" src="{{article.imgUrl}}">
              <div class="carousel-caption">{{article.title}}</div>
            </mat-card-content>
          </mat-card>
        </slide>
      </carousel>
  </mat-grid-tile>

  <mat-grid-tile colspan="6" rowspan="2">
    <div class="div-width set-overflow">
      <mat-list class="list" *ngFor="let article2 of articles.slice(randomNum, randomNum+5)">
        <mat-list-item>
          <a routerLink="/detail/{{article2.id}}">
            <img src="{{article2.imgUrl}}" width="5%" height="5%">
            <span class="badge">{{article2.id}}-></span>{{article2.title}}
          </a>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="2">
    <div class="div-width">
      <img src="../../assets/img/ad.jpg" width="100%" height="100%">
    </div>
  </mat-grid-tile>
</mat-grid-list>
